.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #FEF7FF;
}

button {
  margin-left: 8px;
}

mat-icon {
  color: black;
}

span {
  color: black;
}

.header-title {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.15px;
  text-align: center;
}
