<app-header></app-header>

<lib-city-input (citySelected)="onCitySelected($event)"></lib-city-input>

<app-brewery-list [breweries]="breweries"
                  [loading]="loading"
                  [noResults]="noResults"
                  [hasMoreItems]="hasMoreItems"
                  (selectBrewery)="showMoreInfo($event)"
                  (loadMore)="loadMore()">
</app-brewery-list>

<ng-template cdkPortal>
  <app-brewery-modal [isOpen]="isModalOpen" (close)="closeModal()" [brewery]="selectedBrewery"></app-brewery-modal>
</ng-template>
